<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Aroma Shop - Home</title>
  <link rel="icon" href="asstes/img/Fevicon.png" type="image/png" />
  <link rel="stylesheet" href="asstes/vendors/bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" href="asstes/vendors/fontawesome/css/all.css" />
  <link rel="stylesheet" href="asstes/vendors/themify-icons/themify-icons.css" />
  <link rel="stylesheet" href="asstes/vendors/nice-select/nice-select.css" />
  <link rel="stylesheet" href="asstes/vendors/owl-carousel/owl.theme.default.min.css" />
  <link rel="stylesheet" href="asstes/vendors/owl-carousel/owl.carousel.min.css" />

  <link rel="stylesheet" href="asstes/css/style.css" />
  <link rel="stylesheet" href="asstes/css/edits.css" />
</head>

<body>
  <div id="message-container"></div>
  <!--================ Start Header Menu Area =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container" style="min-width: 1220px">
          <a class="navbar-brand logo_h" href="index.html">
            <!-- <img src="asstes/img/logo.jpg" alt="" style="width: 100px"> -->
            <h3 class="title">Owl Brand</h3>
          </a>

          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="products.html">Products</a>
              </li>
              <li class="nav-item">
                <a id="myOrders" class="nav-link" href="my-orders.html" style="display: none">My Orders</a>
              </li>
              <!-- 00 -->
              <li class="nav-item submenu dropdown" id="preferences" style="display: none">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">preferences</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="fav.html">Favourites</a></li>
                  <li class="nav-item"><a class="nav-link" href="watchlist.html">Watch List</a></li>
                </ul>
              </li>

              <!-- 00 -->
              <li class="nav-item">
                <a id="add" class="nav-link" href="add-product.html" style="display: none">Add Product</a>
              </li>
            </ul>
            <ul class="nav-shop">

              <li class="nav-item">
                <p id="userName"></p>
              </li>

              <li class="nav-item">
                <button>
                  <a href="cart.html">
                    <i class="ti-shopping-cart" id="cartIcon" style="display: none"></i>
                  </a>
                </button>
              </li>

              <li id="loginNavItem" class="nav-item">
                <a id="loginButton" class="button button-header" href="login.html">Login</a>
              </li>

              <li id="registerNavItem" class="nav-item">
                <a id="registerButton" class="button button-header" href="register.html">Register</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!--================ End Header Menu Area =================-->
  <!-- ================ start banner area ================= -->
  <section class="blog-banner-area" id="category">
    <div class="container h-100">
      <div class="blog-banner">
        <div class="text-center">
          <h1>Shopping <i class="ti-shopping-cart"></i> Cart</h1>
          <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item"><a href="products.html">Shop Category</a></li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ end banner area ================= -->

  <!--================Cart Area =================-->
  <section class="cart_area">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product Image</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                <th scope="col">
                  <form class="emptycart">
                    <button type="submit" class="btn btn-danger">
                      Remove All
                    </button>
                  </form>
                </th>
                <!-- <th scope="col">Remove</th> -->
              </tr>
            </thead>
            <tbody id="cartItems">
              <!-- Cart items will be appended here -->
            </tbody>
            <tfoot>
              <tr class="out_button_area">
                <td class="d-none-l"></td>
                <td class=""></td>
                <td></td>
                <td colspan="3">
                  <div class="checkout_btn_inner d-flex align-items-center">
                    <a class="gray_btn" href="./products.html">Continue Shopping</a>
                    <form id="order" method="post">
                      <button class="btn btn-primary ml-2" type="submit">
                        Proceed to checkout
                      </button>
                    </form>
                  </div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </section>
  <!--================End Cart Area =================-->


<!-- footer -->
  <!--================ Start footer Area  =================-->
  <footer class="footer">
    <div class="footer-area">
      <div class="container">
        <div class="row section_gap">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-footer-widget tp_widgets">
              <h4 class="footer_title large_title">Our Mission</h4>
              <p>
                So seed seed green that winged cattle in. Gathering thing made
                fly you're no divided deep moved us lan Gathering thing us
                land years living.
              </p>
              <p>
                So seed seed green that winged cattle in. Gathering thing made
                fly you're no divided deep moved
              </p>
            </div>
          </div>
          <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
            <div class="single-footer-widget tp_widgets">
              <h4 class="footer_title">Quick Links</h4>
              <ul class="list">
                <li><a href="index.html">Home</a></li>
                <li><a href="products.html">Shop</a></li>
                <li><a href="fav.html">Favourites</a></li>
                <li><a href="watchlist.html">Watch List</a></li>
              </ul>
            </div>
          </div>
          <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
            <div class="single-footer-widget tp_widgets">
              <h4 class="footer_title">Contact Us</h4>
              <div class="ml-40">
                <p class="sm-head">
                  <span class="fa fa-location-arrow"></span>
                  Head Office
                </p>
                <p>123, Main Street, Your City</p>

                <p class="sm-head">
                  <span class="fa fa-phone"></span>
                  Phone Number
                </p>
                <p>
                  +123 456 7890 <br />
                  +123 456 7890
                </p>

                <p class="sm-head">
                  <span class="fa fa-envelope"></span>
                  Email
                </p>
                <p>
                  free@infoexample.com <br />
                  www.infoexample.com
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">
        <div class="row d-flex">
          <p class="col-lg-12 footer-text text-center">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved | This project is made with
            <i class="fa fa-heart" aria-hidden="true"></i> By Anas Saleh
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!--================ End footer Area  =================-->
  <script src="asstes/vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="asstes/vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="asstes/vendors/skrollr.min.js"></script>
  <script src="asstes/vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="asstes/vendors/nice-select/jquery.nice-select.min.js"></script>
  <script src="asstes/vendors/jquery.ajaxchimp.min.js"></script>
  <script src="asstes/vendors/mail-script.js"></script>
  <script src="asstes/js/main.js"></script>
  <script src="asstes/js/project.js"></script>

  <!-- new -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script>

    cartIcon();
    async function updateTable() {
      $("#cartItems").empty(); // Ensure this matches the actual element ID in your HTML

      var url = "http://127.0.0.1:3000/api/cart";

      try {
        const response = await axios.get(url, {
          headers: {
            "x-auth-token": token,
          },
        });
        var totalCost = 0;
        const data = response.data;

        if (!Array.isArray(data) || data.length === 0) {
          // Display message if there are no favorite products
          document.querySelector('.table').style.display = 'none';

          const msg = `
        <h4>You have no products in cart yet!</h4>
        <h4 class="text-primary">To add products to your cart , press the  <i class="ti-shopping-cart"></i> icon on the product card.</h4>
      `;
          const cartInner = document.querySelector('.cart_inner');
          cartInner.innerHTML = msg; // Replace content with the message
        } else {

          for (const item of data) {
            totalCost = totalCost + (item.Product.price * item.quantity);
            totalCost.toFixed(2);

            const cardHtml = `
          <tr>
            <td>
              <img src="images/${item.Product.img_urls[0]}" width="150" alt="">
            </td>
            <td>
              <p>${item.Product.name}</p>
            </td>
            <td>
              <h5>$${item.Product.price.toFixed(2)}</h5>
            </td>
            <td>
              <button class="quantity-btn btn-primary rounded-circle" data-action="decrease" data-productid="${item.ProductId}">-</button>
              <span class="quantity">${item.quantity}</span>
              <button class="quantity-btn btn-primary rounded-circle" data-action="increase" data-productid="${item.ProductId}">+</button>
            </td>
            <td>
              <h5>$${(item.Product.price * item.quantity).toFixed(2)}</h5>
            </td>
            <td>
              <form class="deleteitem" data-productid="${item.ProductId}">
                <button type="submit" class="btn btn-danger">Remove</button>
              </form>
            </td>
          </tr>
        `;
            $("#cartItems").append(cardHtml);
          }

          const total = `
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td><p>Total Cost = </p></td>
          <td><p>$${totalCost.toFixed(2)}</p></td>
        </tr>
      `;
          $("#cartItems").append(total);

          // Add event listeners for quantity buttons
          document.querySelectorAll('.quantity-btn').forEach(button => {
            button.addEventListener('click', async (event) => {
              const action = event.target.getAttribute('data-action');
              const productId = event.target.getAttribute('data-productid');
              await updateQuantity(productId, action);
              updateTable(); // Refresh the table after updating
            });
          });
        }
        ///

      } catch (error) {
        document.querySelector('.table').style.display = 'none';

        const msg = `
        <h4 class="text-primary">You have to Login or Register First</h4>
      `;
        const cartInner = document.querySelector('.cart_inner');
        cartInner.innerHTML = msg; // Replace content with the message
        console.error("Error fetching cart items:", error);
      }
    }

    // Call the function to update the table
    updateTable();


    async function updateQuantity(productId, action) {
      try {
        // Get the current quantity from the DOM
        const quantitySpan = document.querySelector(`button[data-productid="${productId}"]`).nextElementSibling;

        let currentQuantity = parseInt(quantitySpan.textContent, 10);

        // Update quantity based on the action
        if (action === 'increase') {
          currentQuantity++;
        } else if (action === 'decrease') {
          if (currentQuantity > 1) {
            currentQuantity--;
          }
        }

        // Update the quantity in the server
        await axios.patch(`http://127.0.0.1:3000/api/cart/${productId}`, {
          quantity: currentQuantity
        }, {
          headers: {
            "x-auth-token": token
          }
        });

        // Update the quantity in the DOM
        quantitySpan.textContent = currentQuantity;

        // Update the total cost
        const price = parseFloat(document.querySelector(`tr td h5`).textContent.slice(1)); // Adjust as needed
        document.querySelectorAll('tr td h5')[4].textContent = `$${(price * currentQuantity).toFixed(2)}`; // Adjust index for total price

      } catch (error) {
        console.error("Error updating quantity:", error);
      }
    }


    $(document).on("submit", ".emptycart", async function (event) {
      event.preventDefault();

      const url = "http://127.0.0.1:3000/api/cart";

      try {
        const response = await axios.delete(url, {
          headers: {
            "x-auth-token": token,
          },
        });

        if (response.status === 200) {
          console.log("Cart emptied successfully");
          updateTable(); // Refresh the table to show the updated cart items
        } else {
          console.log("Failed to empty the cart");
        }
      } catch (error) {
        console.error("Error emptying the cart:", error);
      }
    });

    $(document).on("submit", ".deleteitem", async function (event) {
      event.preventDefault();

      const productId = $(this).data("productid");
      const url = `http://127.0.0.1:3000/api/cart/${productId}`;

      try {
        const response = await axios.delete(url, {
          headers: {
            "x-auth-token": token,
          },
        });

        if (response.status === 200) {
          console.log("Item removed successfully");
          updateTable(); // Refresh the table to show the updated cart items
        } else {
          console.log("Failed to remove the item");
        }
      } catch (error) {
        console.error("Error removing the item:", error);
      }
    });
    ////////////
    $("#order").submit(async function (event) {
      event.preventDefault();
      const url = "http://127.0.0.1:3000/api/order";

      try {
        const response = await axios.post(url, {}, {
          headers: {
            "x-auth-token": token
          }
        });
        console.log(response.data);
        updateTable(); // Ensure this function exists and updates your UI as needed
        window.location.href = "checkout.html";
      } catch (error) {
        console.error("Error adding to cart:", error);
      }
    });

  </script>
</body>

</html>