<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Aroma Shop - Home</title>
  <link rel="icon" href="asstes/img/Fevicon.png" type="image/png" />
  <link rel="stylesheet" href="asstes/vendors/bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" href="asstes/vendors/fontawesome/css/all.css" />
  <link rel="stylesheet" href="asstes/vendors/themify-icons/themify-icons.css" />
  <link rel="stylesheet" href="asstes/vendors/nice-select/nice-select.css" />
  <link rel="stylesheet" href="asstes/vendors/owl-carousel/owl.theme.default.min.css" />
  <link rel="stylesheet" href="asstes/vendors/owl-carousel/owl.carousel.min.css" />

  <link rel="stylesheet" href="asstes/css/style.css" />
  <link rel="stylesheet" href="asstes/css/edits.css" />
</head>

<body>
  <!--================ Start Header Menu Area =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container" >
 
          <a class="navbar-brand logo_h" href="index.html">
            <img src="asstes/img/OwlLogo.png" width="200" alt="Owl Logo">
          </a>
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="products.html">Products</a>
              </li>
              <li class="nav-item">
                <a id="myOrders" class="nav-link" href="my-orders.html" style="display: none">My Orders</a>
              </li>
              <!-- 00 -->
              <li class="nav-item submenu dropdown" id="preferences" style="display: none">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">preferences</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="fav.html">Favourites</a></li>
                  <li class="nav-item"><a class="nav-link" href="watchlist.html">Watch List</a></li>
                </ul>
              </li>

              <!-- 00 -->
              <li class="nav-item">
                <a id="add" class="nav-link" href="add-product.html" style="display: none">Add Product</a>
              </li>
            </ul>
            <ul class="nav-shop">

              <li class="nav-item">
                <p id="userName"></p>
              </li>

              <li class="nav-item">
                <button>
                  <a href="cart.html">
                    <i class="ti-shopping-cart" id="cartIcon" style="display: none"></i>
                  </a>
                </button>
              </li>

              <li id="loginNavItem" class="nav-item">
                <a id="loginButton" class="button button-header" href="login.html">Login</a>
              </li>

              <li id="registerNavItem" class="nav-item">
                <a id="registerButton" class="button button-header" href="register.html">Register</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!--================ End Header Menu Area =================-->
  <!-- ================ start banner area ================= -->
  
  <!-- ================ end banner area ================= -->

  <!--================Checkout Area =================-->
  <section class="checkout_area section-margin--small">
    <div class="container">
      <div class="billing_details">
        <div class="row">
          <div class="col-lg-8">
            <h3>Billing Details</h3>
            <form method="post" id="checkForm" class="row contact_form">
              <div class="col-md-4 form-group p_star">
                <label class="form-label" for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" required />
              </div>
              <div class="col-md-4 form-group p_star">
                <label class="form-label" for="phone1">Phone number 1</label>
                <input type="text" class="form-control" id="phone1" name="phone1" minlength="11" maxlength="11"
                  required />
              </div>
              <div class="col-md-4 form-group p_star">
                <label class="form-label" for="phone2">Phone number 2 "optional"</label>
                <input type="text" class="form-control" id="phone2" name="phone2" minlength="11" maxlength="11" />
              </div>
              <div class="col-md-2 form-group p_star">
                <label class="form-label" for="flatNo">Flat No.</label>
                <input type="number" class="form-control" id="flatNo" name="flatNo" required />
              </div>
              <div class="col-md-2 form-group p_star">
                <label class="form-label" for="floorNo">Floor No.</label>
                <input type="number" class="form-control" id="floorNo" name="floorNo" required />
              </div>
              <div class="col-md-2 form-group p_star">
                <label class="form-label" for="buildingNo">Building No.</label>
                <input type="number" class="form-control" id="buildingNo" name="buildingNo" required />
              </div>
              <div class="col-md-6 form-group p_star">
                <label class="form-label" for="street">Street</label>
                <input type="text" class="form-control" id="street" name="street" required />
              </div>
              <div class="col-md-6 form-group p_star">
                <label class="form-label" for="city">City</label>
                <input type="text" class="form-control" id="city" name="city" required />
              </div>
              <div class="col-md-6 form-group p_star">
                <label class="form-label" for="details">Details of Address "optional"</label>
                <input type="text" class="form-control" id="details" name="details" />
              </div>

              <div class="col-md-4 form-group p_star">
                <label class="form-label">Payment Method</label>
                <select class="country_select" name="paymentMethod" id="paymentMethod">
                  <option value="cash">Cash</option>
                  <option value="visa">Visa</option>
                </select>
              </div>

              <button type="submit" class="btn btn-primary">send</button>
            </form>

          </div>
          <div class="col-lg-4" id="orderDetails">
            <!-- js -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Checkout Area =================-->


<!-- footer -->
  <!--================ Start footer Area  =================-->
  <footer class="footer">
    <div class="footer-area">
      <div class="container">
        <div class="row section_gap">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-footer-widget tp_widgets">
              <h4 class="footer_title large_title">Our Mission</h4>
              <p>
                So seed seed green that winged cattle in. Gathering thing made
                fly you're no divided deep moved us lan Gathering thing us
                land years living.
              </p>
              <p>
                So seed seed green that winged cattle in. Gathering thing made
                fly you're no divided deep moved
              </p>
            </div>
          </div>
          <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
            <div class="single-footer-widget tp_widgets">
              <h4 class="footer_title">Quick Links</h4>
              <ul class="list">
                <li><a href="index.html">Home</a></li>
                <li><a href="products.html">Shop</a></li>
                <li><a href="fav.html">Favourites</a></li>
                <li><a href="watchlist.html">Watch List</a></li>
              </ul>
            </div>
          </div>
          <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
            <div class="single-footer-widget tp_widgets">
              <h4 class="footer_title">Contact Us</h4>
              <div class="ml-40">
                <p class="sm-head">
                  <span class="fa fa-location-arrow"></span>
                  Head Office
                </p>
                <p>123, Main Street, Your City</p>

                <p class="sm-head">
                  <span class="fa fa-phone"></span>
                  Phone Number
                </p>
                <p>
                  +123 456 7890 <br />
                  +123 456 7890
                </p>

                <p class="sm-head">
                  <span class="fa fa-envelope"></span>
                  Email
                </p>
                <p>
                  free@infoexample.com <br />
                  www.infoexample.com
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">
        <div class="row d-flex">
          <p class="col-lg-12 footer-text text-center">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved | This project is made with
            <i class="fa fa-heart" aria-hidden="true"></i> By Anas Saleh
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!--================ End footer Area  =================-->
  <script src="asstes/vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="asstes/vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="asstes/vendors/skrollr.min.js"></script>
  <script src="asstes/vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="asstes/vendors/nice-select/jquery.nice-select.min.js"></script>
  <script src="asstes/vendors/jquery.ajaxchimp.min.js"></script>
  <script src="asstes/vendors/mail-script.js"></script>
  <script src="asstes/js/main.js"></script>
  <script src="asstes/js/project.js"></script>

  <!-- new -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script>
    async function orderDetails() {
      const url = "http://127.0.0.1:3000/api/order";

      try {
        const response = await axios.get(url, {
          headers: {
            "x-auth-token": token,
          },
        });
        const data = response.data;

        // let totalCost = 0;
        let totalCost = 60; //shipping
        let productsHtml = "";

        for (const item of data) {
          totalCost += item.Product.price * item.quantity;
          productsHtml += `
                <li>
                    <a href="#">
                        ${item.Product.name} <span class="middle">x ${item.quantity
            }</span>
                        <span class="last">$${(
              item.Product.price * item.quantity
            ).toFixed(2)}</span>
                    </a>
                </li>`;
        }

        const orderHtml = `
            <div class="order_box">
                <h2>Your Order</h2>
                <ul class="list">
                    <li><a href="#"><h4>Product <span>Total</span></h4></a></li>
                    ${productsHtml}
                </ul>
                <ul class="list list_2">
                    <li><a href="#">Subtotal <span>$${(totalCost - 60).toFixed(
          2
        )}</span></a></li>
                    <li><a href="#">Shipping <span>Flat rate: $60.00</span></a></li>
                    <li><a href="#">Total <span>$${totalCost.toFixed(
          2
        )}</span></a></li>
                </ul>
            </div>`;

        $("#orderDetails").html(orderHtml); // Use html() instead of append() to replace existing content
      } catch (error) {
        console.error("Error fetching order details:", error);
      }
    }

    // Call the function to load the order details
    orderDetails();

    $("#checkForm").submit(async function (event) {
      event.preventDefault();

      try {
        // Fetch data to calculate total cost
        const url = "http://127.0.0.1:3000/api/order";
        const response = await axios.get(url, {
          headers: {
            "x-auth-token": token,
          },
        });
        const data = response.data;

        let totalCost = 60; // Default flat rate shipping
        for (const item of data) {
          totalCost += item.Product.price * item.quantity;
        }

        let OrderId = data[0].OrderId
        // Prepare FormData and append necessary fields
        const form = new FormData($(this)[0]);
        form.append("totalCost", totalCost);
        form.append("OrderId", OrderId);

        // Debugging output to check FormData entries
        // for (let pair of form.entries()) {
        //   console.log(pair[0] + ": " + pair[1]);
        // }

        const formDataJson = {};
        for (let pair of form.entries()) {
          formDataJson[pair[0]] = pair[1];
        }

        // Submit the form data to create the order
        const billUrl = "http://localhost:3000/api/order/bill";
        const billResponse = await axios.post(billUrl, formDataJson, {
          headers: {
            "x-auth-token": token,
          },
          processData: false,
          contentType: false,
        });

        console.log(billResponse.data); // Log the response data

        const paymentMethod = formDataJson.paymentMethod;
        if (paymentMethod === 'cash') {
          window.location.href = `confirmation.html?order=${OrderId}`; // Redirect to page X
        } else if (paymentMethod === 'visa') {
          // window.location.href = `payment.html?order=${OrderId}`; // Redirect to page Y

          const API = 'ZXlKaGJHY2lPaUpJVXpVeE1pSXNJblI1Y0NJNklrcFhWQ0o5LmV5SmpiR0Z6Y3lJNklrMWxjbU5vWVc1MElpd2ljSEp2Wm1sc1pWOXdheUk2T1RnMk1qazRMQ0p1WVcxbElqb2lhVzVwZEdsaGJDSjkuT0tSSVNGLWpsX2tFRVhNOEpyYkJONEo1WXJBVk1QVzVOc2RnLUtuUlYzRnF3ZXgxb1lhcW5pSUNYY3dLczFhOGZVazB4SXhrUTJ5UmhnY3lHd1M5R2c='        // your api here
          const integrationID = 4614771;

          async function firstStep() {
            let data = {
              "api_key": API
            }

            let request = await fetch('https://accept.paymob.com/api/auth/tokens', {
              method: 'post',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify(data)
            })

            let response = await request.json()

            let token = response.token

            secondStep(token)
          }

          async function secondStep(token) {
            let data = {
              "auth_token": token,
              "delivery_needed": "false",
              "amount_cents": totalCost*100,
              "currency": "EGP",
              "items": [],
            }

            let request = await fetch('https://accept.paymob.com/api/ecommerce/orders', {
              method: 'post',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify(data)
            })

            let response = await request.json()

            let id = response.id

            thirdStep(token, id)
          }

          async function thirdStep(token, id) {
            let data = {
              "auth_token": token,
              "amount_cents": totalCost*100,
              "expiration": 3600,
              "order_id": id,
              "billing_data": {
                "apartment": "803",
                "email": "claudette09@exa.com",
                "floor": "42",
                "first_name": "Clifford",
                "street": "Ethan Land",
                "building": "8028",
                "phone_number": "+86(8)9135210487",
                "shipping_method": "PKG",
                "postal_code": "01898",
                "city": "Jaskolskiburgh",
                "country": "CR",
                "last_name": "Nicolas",
                "state": "Utah"
              },
              "currency": "EGP",
              "integration_id": integrationID
            }

            let request = await fetch('https://accept.paymob.com/api/acceptance/payment_keys', {
              method: 'post',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify(data)
            })

            let response = await request.json()

            let TheToken = response.token

            cardPayment(TheToken)
          }


          async function cardPayment(token) {
            let iframURL = `https://accept.paymob.com/api/acceptance/iframes/857287?payment_token=${token}`

            location.href = iframURL
          }

          firstStep()
        }
      } catch (error) {
        console.error("Error creating order:", error);
        // Handle specific errors here (e.g., display an error message to the user)
      }
    });
  </script>
</body>

</html>