<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>OWL Brand - Favourites</title>
  <link rel="icon" href="asstes/img/OwlIcon.png" type="image/png" />
  <link rel="stylesheet" href="asstes/vendors/bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" href="asstes/vendors/fontawesome/css/all.css" />
  <link rel="stylesheet" href="asstes/vendors/themify-icons/themify-icons.css" />
  <link rel="stylesheet" href="asstes/vendors/nice-select/nice-select.css" />
  <link rel="stylesheet" href="asstes/vendors/owl-carousel/owl.theme.default.min.css" />
  <link rel="stylesheet" href="asstes/vendors/owl-carousel/owl.carousel.min.css" />

  <link rel="stylesheet" href="asstes/css/style.css" />
  <link rel="stylesheet" href="asstes/css/edits.css" />
</head>

<body>
  <div id="message-container"></div>

  <!--================ Start Header Menu Area =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
 
          <a class="navbar-brand logo_h" href="index.html">
            <img src="asstes/img/OwlLogo.png" width="200" alt="Owl Logo">
          </a>
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="products.html">Products</a>
              </li>
              <li class="nav-item">
                <a id="myOrders" class="nav-link" href="my-orders.html" style="display: none">My Orders</a>
              </li>
              <!-- 00 -->
              <li class="nav-item submenu dropdown" id="preferences" style="display: none">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">preferences</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="fav.html">Favourites</a></li>
                  <li class="nav-item"><a class="nav-link" href="watchlist.html">Watch List</a></li>
                </ul>
              </li>

              <!-- 00 -->
              <li class="nav-item">
                <a id="add" class="nav-link" href="add-product.html" style="display: none">Add Product</a>
              </li>
            </ul>
            <ul class="nav-shop">

              <li class="nav-item">
                <p id="userName"></p>
              </li>

              <li class="nav-item">
                <button>
                  <a href="cart.html">
                    <i class="ti-shopping-cart" id="cartIcon" style="display: none"></i>
                  </a>
                </button>
              </li>

              <li id="loginNavItem" class="nav-item">
                <a id="loginButton" class="button button-header" href="login.html">Login</a>
              </li>

              <li id="registerNavItem" class="nav-item">
                <a id="registerButton" class="button button-header" href="register.html">Register</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!--================ End Header Menu Area =================-->
  <!-- ================ start banner area ================= -->
  <section class="blog-banner-area" id="category">
    <div class="container h-100">
      <div class="blog-banner">
        <div class="text-center">
          <h1>Favourites <i class="ti-heart"></i> Products</h1>
          <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item"><a href="products.html">Shop Category</a></li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ end banner area ================= -->

  <!-- ================ category section start ================= -->
  <section class="section-margin--small mb-5">
    <div class="container">
      <div class="row">


        <div class="col-xl-9 col-lg-8 col-md-7">


          <!-- Start Best Seller -->
          <!-- 00000000000000000000000000000000000 -->
          <section class="lattest-product-area pb-40 category-list" id="msg">
            <div class="row" id="card">
              <!-- products -->
            </div>
          </section>
          <!-- 00000000000000000000000000000000000 -->

          <!-- End Best Seller -->
        </div>
      </div>
    </div>
  </section>
  <!-- ================ category section end ================= -->
  <!-- footer -->
  <!--================ Start footer Area  =================-->
  <footer class="footer">
    <div class="footer-area">
      <div class="container">
        <div class="row section_gap">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-footer-widget tp_widgets">
              <h4 class="footer_title large_title">Our Mission</h4>
              <p>
                So seed seed green that winged cattle in. Gathering thing made
                fly you're no divided deep moved us lan Gathering thing us
                land years living.
              </p>
              <p>
                So seed seed green that winged cattle in. Gathering thing made
                fly you're no divided deep moved
              </p>
            </div>
          </div>
          <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
            <div class="single-footer-widget tp_widgets">
              <h4 class="footer_title">Quick Links</h4>
              <ul class="list">
                <li><a href="index.html">Home</a></li>
                <li><a href="products.html">Shop</a></li>
                <li><a href="fav.html">Favourites</a></li>
                <li><a href="watchlist.html">Watch List</a></li>
              </ul>
            </div>
          </div>
          <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
            <div class="single-footer-widget tp_widgets">
              <h4 class="footer_title">Contact Us</h4>
              <div class="ml-40">
                <p class="sm-head">
                  <span class="fa fa-location-arrow"></span>
                  Head Office
                </p>
                <p>123, Main Street, Your City</p>

                <p class="sm-head">
                  <span class="fa fa-phone"></span>
                  Phone Number
                </p>
                <p>
                  +123 456 7890 <br />
                  +123 456 7890
                </p>

                <p class="sm-head">
                  <span class="fa fa-envelope"></span>
                  Email
                </p>
                <p>
                  free@infoexample.com <br />
                  www.infoexample.com
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">
        <div class="row d-flex">
          <p class="col-lg-12 footer-text text-center">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved | This project is made with
            <i class="fa fa-heart" aria-hidden="true"></i> By Anas Saleh
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!--================ End footer Area  =================-->
  <script src="asstes/vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="asstes/vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="asstes/vendors/skrollr.min.js"></script>
  <script src="asstes/vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="asstes/vendors/nice-select/jquery.nice-select.min.js"></script>
  <script src="asstes/vendors/jquery.ajaxchimp.min.js"></script>
  <script src="asstes/vendors/mail-script.js"></script>
  <script src="asstes/js/main.js"></script>
  <script src="asstes/js/project.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script>

    cartIcon();

    async function updateTable() {
      $("#card").empty();
      let url = "http://127.0.0.1:3000/api/product/fav";

      try {
        const response = await axios.get(url, {
          headers: {
            "x-auth-token": token,
          },
        });

        const data = response.data;

        if (!Array.isArray(data) || data.length === 0) {
          // Display message if there are no favorite products
          const msg = `
        <h4>You have no favorite products yet!</h4>
        <h4 class="text-primary">To add products to your favorites list, press the <i class="fa-regular fa-heart"></i> icon on the product card.</h4>
      `;
          $("#msg").append(msg);
        } else {
          const watchlistResponse = await axios.get("http://127.0.0.1:3000/api/product/watchlist", {
            headers: {
              "x-auth-token": token,
            },
          });

          const cartResponse = await axios.get("http://127.0.0.1:3000/api/cart", {
            headers: {
              "x-auth-token": token,
            },
          });


          const watchlist = watchlistResponse.data;
          const cart = cartResponse.data;
          update(data, watchlist, cart);
        }
      } catch (error) {
        console.error("Error fetching products:", error);
      }
    }

    updateTable();

    async function update(products, watchlist, cart) {
      $("#card").empty();

      const watchlistIds = new Set(watchlist.map(wl => wl.ProductId));
      const cartIds = new Set(cart.map(item => item.ProductId));

      for (const item of products) {
        const isWatchlist = watchlistIds.has(item.ProductId);
        const isInCart = cartIds.has(item.ProductId);

        const bookmarkIconClass = isWatchlist ? 'fa-solid fa-bookmark' : 'fa-regular fa-bookmark';
        const cartIconClass = isInCart ? 'ti-shopping-cart-full' : 'ti-shopping-cart';

        const wlFormClass = isWatchlist ? 'removeFromWatchList' : 'addtowl';
        const cartFormClass = isInCart ? 'removefromcart' : 'addtocart';

        const product = item.Product;
        const cardHtml = `
<div class="col-md-6 col-lg-4">
  <a href="single-product.html?prod=${product.id}">
    <div class="card text-center card-product">
      <div class="card-product__img">
        <img class="card-img" width="500" src="images/${product.img_urls[0]}" style="width: 200px;height: 250px;object-fit: cover;" alt="">
        <ul class="card-product__imgOverlay">
          <li>
            <form class="${cartFormClass}" method="post">
              <input type="hidden" name="quantity" value="1">
              <input type="hidden" name="productId" value="${product.id}">
              <button type="submit"><i class="${cartIconClass}"></i></button>
            </form>
          </li>
          <li>
            <form class="${wlFormClass}" method="post">
              <input type="hidden" name="productId" value="${product.id}">
              <button type="submit"><i class="${bookmarkIconClass}"></i></button>
            </form>
          </li>
          <li>
            <form class="removefromfav" method="post">
              <input type="hidden" name="productId" value="${product.id}">
              <button type="submit"><i class="ti-heart-broken"></i></button>
            </form>
          </li>
        </ul>
      </div>
      <div class="card-body">
          <p style="color:grey;">${product.category}</p>
          <h4 class="card-product__title">
            <a href="single-product.html?prod=${product.id}">
              ${product.name}
            </a>
          </h4>
          <p class="card-product__price">$ ${product.price}</p>
        </div>
    </div>
  </a>
</div>`;

        $("#card").append(cardHtml);
      }
    }


    // Use event delegation to handle form submission
    $(document).on("submit", ".addtocart", async function (event) {
      event.preventDefault();

      const url = "http://127.0.0.1:3000/api/cart";
      const formData = $(this).serializeArray();
      const data = {};

      formData.forEach((item) => {
        data[item.name] = item.value;
      });

      // Debugging: Log the serialized data
      console.log('Serialized Data:', data);

      try {
        const response = await axios.post(url, data, {
          headers: {
            "x-auth-token": token,
            "Content-Type": "application/json",  // Ensure we send JSON data
          }
        });

        if (response.status === 200) {
          showMessage("Product added to cart successfully!", "success");
        } else {
          showMessage("Failed to add product to cart. Please try again.", "error");
        }

        updateTable(); // Ensure this function exists and updates your UI as needed
        cartIcon();
      } catch (error) {
        console.error("Error adding to cart:", error);
        showMessage("Error adding product to cart. Please try again later.", "error");
      }
    });
    //
    $(document).on("submit", ".removefromcart", async function (event) {
      event.preventDefault();

      const form = $(this);
      const productId = form.find('input[name="productId"]').val();
      const url = `http://127.0.0.1:3000/api/cart/${productId}`;

      try {
        const response = await axios.delete(url, {
          headers: {
            "x-auth-token": token,
          },
        });

        if (response.status === 200) {
          console.log("Item removed successfully");

        } else {
          console.log("Failed to remove the item");
        }
        updateTable(); // Refresh the table to show the updated cart items
        cartIcon();
      } catch (error) {
        console.error("Error removing the item:", error);
      }
    });


    //////////////////
    $(document).on("submit", ".removefromfav", async function (event) {
      event.preventDefault();

      const form = $(this);
      const productId = form.find('input[name="productId"]').val();
      const url = `http://127.0.0.1:3000/api/product/fav/${productId}`;

      try {
        const response = await axios.delete(url, {
          headers: {
            "x-auth-token": token,
          },
        });

        if (response.status === 200) {
          console.log("Item removed successfully");
        } else {
          console.log("Failed to remove the item");
        }
        updateTable(); // Refresh the table to show the updated cart items
      } catch (error) {
        console.error("Error removing the item:", error);
      }
    });
    //////////////////
    $(document).on("submit", ".addtowl", async function (event) {
      event.preventDefault();

      const url = "http://127.0.0.1:3000/api/product/watchlist";
      const formData = $(this).serializeArray();
      const data = {};

      formData.forEach((item) => {
        data[item.name] = item.value;
      });

      // Debugging: Log the serialized data
      console.log('Serialized Data:', data);

      try {
        const response = await axios.post(url, data, {
          headers: {
            "x-auth-token": token,
            "Content-Type": "application/json",  // Ensure we send JSON data
          }
        });
        console.log(response.data);
        updateTable(); // Ensure this function exists and updates your UI as needed
        showMessage("Product added to WatchList successfully!", "success");
      } catch (error) {
        console.error("Error adding to wl:", error);
        showMessage("Error adding product to WatchList. Please try again later.", "error");

      }
    });
    //
    $(document).on("submit", ".removeFromWatchList", async function (event) {
      event.preventDefault();

      const form = $(this);
      const productId = form.find('input[name="productId"]').val();
      const url = `http://127.0.0.1:3000/api/product/watchlist/${productId}`;

      try {
        const response = await axios.delete(url, {
          headers: {
            "x-auth-token": token,
          },
        });

        if (response.status === 200) {
          console.log("Item removed successfully");
          updateTable(); // Refresh the table to show the updated cart items
        } else {
          console.log("Failed to remove the item");
        }
      } catch (error) {
        console.error("Error removing the item:", error);
      }
    });

  </script>
</body>

</html>