<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Aroma Shop - Home</title>
  <link rel="icon" href="asstes/img/Fevicon.png" type="image/png" />
  <link rel="stylesheet" href="asstes/vendors/bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" href="asstes/vendors/fontawesome/css/all.css" />
  <link rel="stylesheet" href="asstes/vendors/themify-icons/themify-icons.css" />
  <link rel="stylesheet" href="asstes/vendors/nice-select/nice-select.css" />
  <link rel="stylesheet" href="asstes/vendors/owl-carousel/owl.theme.default.min.css" />
  <link rel="stylesheet" href="asstes/vendors/owl-carousel/owl.carousel.min.css" />

  <link rel="stylesheet" href="asstes/css/style.css" />
  <link rel="stylesheet" href="asstes/css/edits.css" />
</head>

<body>
  <div id="message-container"></div>
  <!--================ Start Header Menu Area =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container" >
 
          <a class="navbar-brand logo_h" href="index.html">
            <img src="asstes/img/OwlLogo.png" width="200" alt="Owl Logo">
          </a>
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="products.html">Products</a>
              </li>
              <li class="nav-item">
                <a id="myOrders" class="nav-link" href="my-orders.html" style="display: none">My Orders</a>
              </li>
              <!-- 00 -->
              <li class="nav-item submenu dropdown" id="preferences" style="display: none">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">preferences</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="fav.html">Favourites</a></li>
                  <li class="nav-item"><a class="nav-link" href="watchlist.html">Watch List</a></li>
                </ul>
              </li>

              <!-- 00 -->
              <li class="nav-item">
                <a id="add" class="nav-link" href="add-product.html" style="display: none">Add Product</a>
              </li>
            </ul>
            <ul class="nav-shop">
              <!-- <li class="nav-item">
                <button><i class="ti-search"></i></button>
              </li> -->
              <li>
                <p id="userName"></p>
              </li>

              <!-- ______________ -->
              <li class="nav-item">
                <button>
                  <a href="cart.html">
                    <i class="ti-shopping-cart" id="cartIcon" style="display: none"></i>
                  </a>
                </button>
              </li>
              <!-- ______________ -->
              <li id="loginNavItem" class="nav-item">
                <a id="loginButton" class="button button-header" href="login.html">Login</a>
              </li>
              <li id="registerNavItem" class="nav-item">
                <a id="registerButton" class="button button-header" href="register.html">Register</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!--================ End Header Menu Area =================-->

  <!--================Single Product Area =================-->
  <div class="product_image_area">
    <div class="container" id="card"></div>
  </div>
  <!--================End Single Product Area =================-->

  <!--================Product Description Area =================-->
  <section class="product_description_area">
    <div class="container">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">Description</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
            aria-selected="false">Reviews</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
          <p id="description"></p>
        </div>

        <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
          <div class="row">
            <div class="col-lg-6" id="feedbackdata">
              <!-- 00 -->
            </div>
            <div class="col-lg-6">
              <div class="review_box">
                <h4>Add a Review</h4>


                <form method="post" class="form-contact form-review mt-3" id="feedbackForm">
                  <div class="form-group">
                    <label> Enter Rate Out Of 5 :</label>
                    <div class="star-rating">
                      <i class="ti-star" data-value="1"></i>
                      <i class="ti-star" data-value="2"></i>
                      <i class="ti-star" data-value="3"></i>
                      <i class="ti-star" data-value="4"></i>
                      <i class="ti-star" data-value="5"></i>
                    </div>
                    <input type="hidden" name="rate" id="rateValue">
                  </div>
                  <div class="form-group">
                    <label> Feedback :</label>
                    <textarea class="form-control w-100" name="feedback" cols="30" rows="5"
                      placeholder="Enter Message"></textarea>
                  </div>
                  <div class="form-group text-center text-md-right mt-3">
                    <button type="submit" class="button button--active button-review">Submit Now</button>
                  </div>
                </form>



              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Product Description Area =================-->


<!-- footer -->
  <!--================ Start footer Area  =================-->
  <footer class="footer">
    <div class="footer-area">
      <div class="container">
        <div class="row section_gap">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-footer-widget tp_widgets">
              <h4 class="footer_title large_title">Our Mission</h4>
              <p>
                So seed seed green that winged cattle in. Gathering thing made
                fly you're no divided deep moved us lan Gathering thing us
                land years living.
              </p>
              <p>
                So seed seed green that winged cattle in. Gathering thing made
                fly you're no divided deep moved
              </p>
            </div>
          </div>
          <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
            <div class="single-footer-widget tp_widgets">
              <h4 class="footer_title">Quick Links</h4>
              <ul class="list">
                <li><a href="index.html">Home</a></li>
                <li><a href="products.html">Shop</a></li>
                <li><a href="fav.html">Favourites</a></li>
                <li><a href="watchlist.html">Watch List</a></li>
              </ul>
            </div>
          </div>
          <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
            <div class="single-footer-widget tp_widgets">
              <h4 class="footer_title">Contact Us</h4>
              <div class="ml-40">
                <p class="sm-head">
                  <span class="fa fa-location-arrow"></span>
                  Head Office
                </p>
                <p>123, Main Street, Your City</p>

                <p class="sm-head">
                  <span class="fa fa-phone"></span>
                  Phone Number
                </p>
                <p>
                  +123 456 7890 <br />
                  +123 456 7890
                </p>

                <p class="sm-head">
                  <span class="fa fa-envelope"></span>
                  Email
                </p>
                <p>
                  free@infoexample.com <br />
                  www.infoexample.com
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">
        <div class="row d-flex">
          <p class="col-lg-12 footer-text text-center">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved | This project is made with
            <i class="fa fa-heart" aria-hidden="true"></i> By Anas Saleh
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!--================ End footer Area  =================-->
  <script src="asstes/vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="asstes/vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="asstes/vendors/skrollr.min.js"></script>
  <script src="asstes/vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="asstes/vendors/nice-select/jquery.nice-select.min.js"></script>
  <script src="asstes/vendors/jquery.ajaxchimp.min.js"></script>
  <script src="asstes/vendors/mail-script.js"></script>
  <script src="asstes/js/main.js"></script>
  <script src="asstes/js/project.js"></script>

  <!-- new -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script>

    const urlParams = new URLSearchParams(window.location.search);
    const prodValue = urlParams.get("prod");
    updatedata();
    updateTable();
    cartIcon();
    async function updateTable() {
      $("#card").empty();
      const url = "http://127.0.0.1:3000/api/product/prod/" + prodValue;

      try {
        const response = await axios.get(url, {
          headers: {
            "x-auth-token": token,
          },
        });
        const product = response.data;

        const cardHtml = `
        <div class="row s_product_inner">
          <div class="col-lg-6">
            <div id="productImages" class="owl-carousel owl-theme">
              <!-- Carousel items will be dynamically added here
                Nedddddddddddddddddd to modify sizeeeeeeeeeeeeee -->			
            </div>
          </div>
          <div class="col-lg-5 offset-lg-1">
            <div class="s_product_text">
              <h3>${product.name}</h3>
              <span>Price</span> :<h2>$${product.price}</h2>
              <ul class="list">
                <li><span>category</span> : ${product.category}</li>
              </ul>

              <p>description: ${product.description}</p>
              <div>
                <label for="qty">Quantity:</label>
                <form class="addtocart">
<div class="quantity-controls">
  <button type="button" id="decrement">-</button>
  <input type="number" id="quantityInput" name="quantity" value="1" min="1" readonly>
  <button type="button" id="increment">+</button>
</div>

                  <input type="hidden" name="productId" value="${product.id}">
                  <button class="button primary-btn d-block mt-5">Add to Cart</button>
                </form>
              </div>
            </div>
          </div>
        </div>`;
        $("#card").append(cardHtml);

        $("#description").append(`${product.description}`);

        // Populate images in Owl Carousel
        const images = product.img_urls.map(
          (imgUrl) =>
            `<div class="single-prd-item"><img class="img-fluid" src="images/${imgUrl}" alt="${product.name}" ></div>`
        );
        $("#productImages").html(images.join(""));

        // Initialize Owl Carousel with manual navigation buttons
        $("#productImages").owlCarousel({
          items: 1,
          loop: false,
          nav: true,
          dots: false,
          navText: [
            '<i class="fa fa-chevron-left"></i>',
            '<i class="fa fa-chevron-right"></i>',
          ],
        });


        const quantityInput = document.getElementById('quantityInput');
        const incrementButton = document.getElementById('increment');
        const decrementButton = document.getElementById('decrement');

        function updateButtons() {
          const value = parseInt(quantityInput.value, 10);
          decrementButton.disabled = value <= 1;
        }

        incrementButton.addEventListener('click', function () {
          quantityInput.value = parseInt(quantityInput.value, 10) + 1;
          updateButtons();
        });

        decrementButton.addEventListener('click', function () {
          const value = parseInt(quantityInput.value, 10);
          if (value > 1) {
            quantityInput.value = value - 1;
          }
          updateButtons();
        });

        // Initial button state update
        updateButtons();



      } catch (error) {
        console.error("Error fetching products:", error);
      }
    }


    // Use event delegation to handle form submission
    $(document).on("submit", ".addtocart", async function (event) {
      event.preventDefault();

      const url = "http://127.0.0.1:3000/api/cart";
      const formData = $(this).serializeArray();
      const data = {};

      formData.forEach((item) => {
        data[item.name] = item.value;
      });

      // Debugging: Log the serialized data
      console.log('Serialized Data:', data);

      try {
        const response = await axios.post(url, data, {
          headers: {
            "x-auth-token": token,
            "Content-Type": "application/json",  // Ensure we send JSON data
          }
        });
        console.log(response.data);
        updateTable(); // Ensure this function exists and updates your UI as needed
        cartIcon();
      } catch (error) {
        console.error("Error adding to cart:", error);
        showMessage("Maybe product is already in your cart, Please Go Check It", "error");

      }
    });




    $(document).ready(function () {
      const urlParams = new URLSearchParams(window.location.search);
      const prodValue = urlParams.get("prod");

      let selectedRating = 0;

      // Handle star rating hover
      $('.star-rating i').on('mouseover', function () {
        const hoverValue = $(this).data('value');
        $('.star-rating i').each(function () {
          if ($(this).data('value') <= hoverValue) {
            $(this).addClass('filled');
          } else {
            $(this).removeClass('filled');
          }
        });
      });

      // Reset star rating when not hovering
      $('.star-rating').on('mouseleave', function () {
        $('.star-rating i').each(function () {
          if ($(this).data('value') <= selectedRating) {
            $(this).addClass('filled');
          } else {
            $(this).removeClass('filled');
          }
        });
      });

      // Handle star rating selection
      $('.star-rating i').on('click', function () {
        selectedRating = $(this).data('value');
        $('#rateValue').val(selectedRating);

        // Update the star rating display
        $('.star-rating i').each(function () {
          if ($(this).data('value') <= selectedRating) {
            $(this).addClass('filled');
          } else {
            $(this).removeClass('filled');
          }
        });
      });

      $('#feedbackForm').submit(async function (event) {
        event.preventDefault();

        const url = "http://127.0.0.1:3000/api/product/feedback";
        const formData = new FormData(this);

        // Add prodValue to formData
        formData.append('productId', prodValue);

        // Convert FormData to JSON object
        const data = {};
        formData.forEach((value, key) => {
          data[key] = value;
        });

        console.log(data); // Debugging: Check the data being sent

        try {
          const response = await axios.post(url, data, {
            headers: {
              "x-auth-token": token,
              "Content-Type": "application/json",
            }
          });

          if (response.status === 200) {
            $('#feedbackForm')[0].reset();
            selectedRating = 0;
            $('.star-rating i').removeClass('filled');

            // Optionally, refresh the feedback list
            updatedata();
            showMessage("Feedback submitted successfully!", "success");
          } else {
            showMessage("Failed to submit feedback. Please try again.", "error");
          }
        } catch (error) {
          console.error("Error submitting feedback:", error);
          showMessage("Error: You must login or register first.", "error");
        }
      });
    });



    async function updatedata() {
      $("#feedbackdata").empty();

      try {
        const response = await axios.get(`http://127.0.0.1:3000/api/product/feedbacks/${prodValue}`, {
          headers: {
            "x-auth-token": token,
          },
        });
        const feedback = response.data;
        if (!Array.isArray(feedback) || feedback.length === 0) {
          // Display message if there are no feedbacks
          const msg = `
        <h5>This Product Has No Feedback Yet !!</h5>
        <h4>Share Your Feedback With Us Now</h4>`;
          $("#feedbackdata").append(msg);
        } else {
          feedback.forEach(item => {
            let filledStars = '';
            let emptyStars = '';

            for (let i = 0; i < item.rate; i++) {
              filledStars += '<i class="fa fa-star"></i>';
            }

            for (let i = item.rate; i < 5; i++) {
              emptyStars += '<i class="fa fa-star-o"></i>';
            }

            const cardHtml = `
          <div class="review_list">
            <div class="review_item">
              <div class="media">
                <div class="media-body">
                  <h4>${item.name}</h4>
                  ${filledStars}
                  ${emptyStars}
                </div>
              </div>
              <p>${item.feedback}</p>
              <hr>
            </div>
          </div>`;

            $("#feedbackdata").append(cardHtml);
          });
        }
      } catch (error) {
        console.error("Error fetching feedback:", error);
        // Handle error (optional)
      }
    }


  </script>
</body>

</html>