<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Aroma Shop - Home</title>
    <link rel="icon" href="asstes/img/Fevicon.png" type="image/png" />
    <link rel="stylesheet" href="asstes/vendors/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="asstes/vendors/fontawesome/css/all.css" />
    <link
      rel="stylesheet"
      href="asstes/vendors/themify-icons/themify-icons.css"
    />
    <link rel="stylesheet" href="asstes/vendors/nice-select/nice-select.css" />
    <link
      rel="stylesheet"
      href="asstes/vendors/owl-carousel/owl.theme.default.min.css"
    />
    <link
      rel="stylesheet"
      href="asstes/vendors/owl-carousel/owl.carousel.min.css"
    />

    <link rel="stylesheet" href="asstes/css/style.css" />
    <link rel="stylesheet" href="asstes/css/edits.css" />
  </head>

  <body>
    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
      <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container" style="min-width: 1220px">
            <a class="navbar-brand logo_h" href="index.html">
              <!-- <img src="asstes/img/logo.png" alt=""> -->
              <h3 class="title">E-Shopping</h3>
            </a>

            <div
              class="collapse navbar-collapse offset"
              id="navbarSupportedContent"
            >
              <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="index.html">Home</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="products.html">Products</a>
                </li>

                <li class="nav-item">
                  <a
                    id="myOrders"
                    class="nav-link"
                    href="my-orders.html"
                    style="display: none"
                    >My Orders</a
                  >
                </li>

                <li class="nav-item">
                  <a
                    id="add"
                    class="nav-link"
                    href="add-product.html"
                    style="display: none"
                    >Add Product</a
                  >
                </li>
              </ul>
              <ul class="nav-shop">
                <li class="nav-item">
                  <button><i class="ti-search"></i></button>
                </li>
                <!-- ______________ -->
                <li class="nav-item">
                  <button>
                    <a href="cart.html">
                      <i class="ti-shopping-cart"></i
                      >
                    </a>
                  </button>
                </li>
                <!-- ______________ -->

                <li id="loginNavItem" class="nav-item">
                  <a
                    id="loginButton"
                    class="button button-header"
                    href="login.html"
                    >Login</a
                  >
                </li>
                <li id="registerNavItem" class="nav-item">
                  <a
                    id="registerButton"
                    class="button button-header"
                    href="register.html"
                    >Register</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!--================ End Header Menu Area =================-->
    <!-- ================ start banner area ================= -->
    <section class="blog-banner-area" id="category">
      <div class="container h-100">
        <div class="blog-banner">
          <div class="text-center">
            <h1>product</h1>
            <nav aria-label="breadcrumb" class="banner-breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  product
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- ================ end banner area ================= -->

    <!--================Single Product Area =================-->
    <div class="product_image_area">
      <div class="container my-3" id="card"></div>
    </div>
    <!--================End Single Product Area =================-->

    <!-- footer -->
    <!--================ Start footer Area  =================-->
    <footer class="footer">
      <div class="footer-area">
        <div class="container">
          <div class="row section_gap">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="single-footer-widget tp_widgets">
                <h4 class="footer_title large_title">Our Mission</h4>
                <p>
                  So seed seed green that winged cattle in. Gathering thing made
                  fly you're no divided deep moved us lan Gathering thing us
                  land years living.
                </p>
                <p>
                  So seed seed green that winged cattle in. Gathering thing made
                  fly you're no divided deep moved
                </p>
              </div>
            </div>
            <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
              <div class="single-footer-widget tp_widgets">
                <h4 class="footer_title">Quick Links</h4>
                <ul class="list">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="products.php">Shop</a></li>
                  <li><a href="fav-products.php">Favourites</a></li>
                  <li><a href="watchlist.php">Watch List</a></li>
                </ul>
              </div>
            </div>
            <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
              <div class="single-footer-widget tp_widgets">
                <h4 class="footer_title">Contact Us</h4>
                <div class="ml-40">
                  <p class="sm-head">
                    <span class="fa fa-location-arrow"></span>
                    Head Office
                  </p>
                  <p>123, Main Street, Your City</p>

                  <p class="sm-head">
                    <span class="fa fa-phone"></span>
                    Phone Number
                  </p>
                  <p>
                    +123 456 7890 <br />
                    +123 456 7890
                  </p>

                  <p class="sm-head">
                    <span class="fa fa-envelope"></span>
                    Email
                  </p>
                  <p>
                    free@infoexample.com <br />
                    www.infoexample.com
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-bottom">
        <div class="container">
          <div class="row d-flex">
            <p class="col-lg-12 footer-text text-center">
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              All rights reserved | This project is made with
              <i class="fa fa-heart" aria-hidden="true"></i>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!--================ End footer Area  =================-->
    <script src="asstes/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="asstes/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="asstes/vendors/skrollr.min.js"></script>
    <script src="asstes/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="asstes/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="asstes/vendors/jquery.ajaxchimp.min.js"></script>
    <script src="asstes/vendors/mail-script.js"></script>
    <script src="asstes/js/main.js"></script>
    <script src="asstes/js/project.js"></script>

    <!-- new -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    <script>
      const urlParams = new URLSearchParams(window.location.search);
      const prodValue = urlParams.get("prod");

      const url="http://127.0.0.1:3000/api/product/prod/"+prodValue;

      async function updateTable() {
        $("#card").empty();

        try {
          const response = await axios.get(url, {
            headers: {
              "x-auth-token": token,
            },
          });
          const data = response.data;

          for (const product of data) {
            const cardHtml = `<div class="row s_product_inner">
			<div class="col-lg-6">
						<img class="img-fluid" src="images/${product.img_url}" alt="">
			</div>
			<div class="col-lg-5 offset-lg-1">
				<div class="s_product_text">
					<h3>${product.name}</h3>
					<h2>$${product.price}</h2>
					<ul class="list">
						<li><span>category</span> : ${product.category}</li>
						<li><span>Color</span> : ${product.color}</li>

						<?php if($product["size"]!= null){?>
							<li><span>Size</span> : ${product.size}</li>
						<?php }?>

						<li><span>Availibility</span> : ${data["status"]}</li>
					</ul>

					<p>description: ${product.description}</p>
					<div>
						<label for="qty">Quantity:</label>
						<form class="addtocart">
							<input type="number" name="quantity" size="2" maxlength="12" value="1" title="Quantity:" class="input-text qty">
							<input type="hidden" name="id" value="${product.id}">
							<button class="button primary-btn d-block mt-5">Add to Cart</button>
						</form>
					</div>
				</div>
			</div>
		</div>`;
    $("#card").append(cardHtml);
          }
        } catch (error) {
          console.error("Error fetching products:", error);
        }
      }
      updateTable();

      // Use event delegation to handle form submission
      $(document).on("submit", ".addtocart", function (event) {
        event.preventDefault();
        var url = "http://127.0.0.1:8081/cart/add";
        var formData = $(this).serializeArray();
        var data = {};
        // Convert form data array to JSON object
        formData.forEach(function (item) {
          data[item.name] = item.value;
        });

        $.ajax({
          url: url,
          type: "POST",
          dataType: "json",
          headers: {
            Authorization: "Bearer " + token,
          },
          contentType: "application/json",
          data: JSON.stringify(data), // Serialize data as JSON string
          success: function (data) {
            console.log(data);
            updateTable();
          },
          error: function () {
            console.log("error");
          },
        });
      });
    </script>
  </body>
</html>
