<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Aroma Shop - Home</title>
  <link rel="icon" href="asstes/img/Fevicon.png" type="image/png" />
  <link rel="stylesheet" href="asstes/vendors/bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" href="asstes/vendors/fontawesome/css/all.css" />
  <link rel="stylesheet" href="asstes/vendors/themify-icons/themify-icons.css" />
  <link rel="stylesheet" href="asstes/vendors/nice-select/nice-select.css" />
  <link rel="stylesheet" href="asstes/vendors/owl-carousel/owl.theme.default.min.css" />
  <link rel="stylesheet" href="asstes/vendors/owl-carousel/owl.carousel.min.css" />

  <link rel="stylesheet" href="asstes/css/style.css" />
  <link rel="stylesheet" href="asstes/css/edits.css" />
</head>

<body>
  <!--================ Start Header Menu Area =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container" style="min-width: 1220px">
          <a class="navbar-brand logo_h" href="index.html">
            <!-- <img src="asstes/img/logo.jpg" alt="" style="width: 100px"> -->
            <h3 class="title">Owl Brand</h3>
          </a>

          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="products.html">Products</a>
              </li>
              <li class="nav-item">
                <a id="myOrders" class="nav-link" href="my-orders.html" style="display: none">My Orders</a>
              </li>
              <!-- 00 -->
              <li class="nav-item submenu dropdown" id="preferences" style="display: none">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">preferences</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="fav.html">Favourites</a></li>
                  <li class="nav-item"><a class="nav-link" href="watchlist.html">Watch List</a></li>
                </ul>
              </li>

              <!-- 00 -->
              <li class="nav-item">
                <a id="add" class="nav-link" href="add-product.html" style="display: none">Add Product</a>
              </li>
            </ul>
            <ul class="nav-shop">

              <li class="nav-item">
                <p id="userName"></p>
              </li>

              <li class="nav-item">
                <button>
                  <a href="cart.html">
                    <i class="ti-shopping-cart" id="cartIcon" style="display: none"></i>
                  </a>
                </button>
              </li>

              <li id="loginNavItem" class="nav-item">
                <a id="loginButton" class="button button-header" href="login.html">Login</a>
              </li>

              <li id="registerNavItem" class="nav-item">
                <a id="registerButton" class="button button-header" href="register.html">Register</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!--================ End Header Menu Area =================-->
  <!-- ================ start banner area ================= -->
  <section class="blog-banner-area" id="category">
    <div class="container h-100">
      <div class="blog-banner">
        <div class="text-center">
          <h1>Shop Category</h1>
          <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Shop Category
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ end banner area ================= -->

  <!-- ================ category section start ================= -->
  <section class="section-margin--small mb-5">
    <div class="container">
      <div class="row">
        <!-- <div class="col-xl-3 col-lg-4 col-md-5">
          <div class="sidebar-categories">
            <div class="head">Browse Categories</div>
            <ul class="main-categories">
              <li class="common-filter">
                <form>
                  <ul id="cat"></ul>
                </form>
              </li>
            </ul>
          </div>
        </div> -->

        <div class="col-xl-9 col-lg-8 col-md-7">
          <!-- Start Filter Bar -->
          <!-- <div class="filter-bar d-flex flex-wrap align-items-center">
            <div>
              <div class="input-group filter-bar-search">
                <form action="search.php">
                  <input type="text" name="search" placeholder="Search" />
                </form>
                <div class="input-group-append">
                  <button type="button"><i class="ti-search"></i></button>
                </div>
              </div>
            </div>
          </div> -->
          <!-- End Filter Bar -->

          <!-- Start Best Seller -->
          <!-- 00000000000000000000000000000000000 -->
          <section class="lattest-product-area pb-40 category-list">
            <div class="row" id="card">
              <!-- products -->
            </div>
          </section>
          <!-- 00000000000000000000000000000000000 -->

          <!-- End Best Seller -->
        </div>
      </div>
    </div>
  </section>
  <!-- ================ category section end ================= -->

  <!-- ================ Subscribe section start ================= -->
  <section class="subscribe-position">
    <div class="container">
      <div class="subscribe text-center">
        <h3 class="subscribe__title">Get Update From Anywhere</h3>
        <p>
          Bearing Void gathering light light his eavening unto dont afraid
        </p>
        <div id="mc_embed_signup">
          <form target="_blank"
            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
            method="get" class="subscribe-form form-inline mt-5 pt-1">
            <div class="form-group ml-sm-auto">
              <input class="form-control mb-1" type="email" name="EMAIL" placeholder="Enter your email"
                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '" />
              <div class="info"></div>
            </div>
            <button class="button button-subscribe mr-auto mb-1" type="submit">
              Subscribe Now
            </button>
            <div style="position: absolute; left: -5000px">
              <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ Subscribe section end ================= -->

  <!--================ End =================-->

  <!-- footer -->
  <!--================ Start footer Area  =================-->
  <footer class="footer">
    <div class="footer-area">
      <div class="container">
        <div class="row section_gap">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-footer-widget tp_widgets">
              <h4 class="footer_title large_title">Our Mission</h4>
              <p>
                So seed seed green that winged cattle in. Gathering thing made
                fly you're no divided deep moved us lan Gathering thing us
                land years living.
              </p>
              <p>
                So seed seed green that winged cattle in. Gathering thing made
                fly you're no divided deep moved
              </p>
            </div>
          </div>
          <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
            <div class="single-footer-widget tp_widgets">
              <h4 class="footer_title">Quick Links</h4>
              <ul class="list">
                <li><a href="index.html">Home</a></li>
                <li><a href="products.php">Shop</a></li>
                <li><a href="fav-products.php">Favourites</a></li>
                <li><a href="watchlist.php">Watch List</a></li>
              </ul>
            </div>
          </div>
          <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
            <div class="single-footer-widget tp_widgets">
              <h4 class="footer_title">Contact Us</h4>
              <div class="ml-40">
                <p class="sm-head">
                  <span class="fa fa-location-arrow"></span>
                  Head Office
                </p>
                <p>123, Main Street, Your City</p>

                <p class="sm-head">
                  <span class="fa fa-phone"></span>
                  Phone Number
                </p>
                <p>
                  +123 456 7890 <br />
                  +123 456 7890
                </p>

                <p class="sm-head">
                  <span class="fa fa-envelope"></span>
                  Email
                </p>
                <p>
                  free@infoexample.com <br />
                  www.infoexample.com
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">
        <div class="row d-flex">
          <p class="col-lg-12 footer-text text-center">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved | This project is made with
            <i class="fa fa-heart" aria-hidden="true"></i>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!--================ End footer Area  =================-->
  <script src="asstes/vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="asstes/vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="asstes/vendors/skrollr.min.js"></script>
  <script src="asstes/vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="asstes/vendors/nice-select/jquery.nice-select.min.js"></script>
  <script src="asstes/vendors/jquery.ajaxchimp.min.js"></script>
  <script src="asstes/vendors/mail-script.js"></script>
  <script src="asstes/js/main.js"></script>
  <script src="asstes/js/project.js"></script>

  <!-- new -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script>

    cartIcon();
    async function updateTable() {
      $("#card").empty();
      let url = "http://127.0.0.1:3000/api/product/watchlist";

      try {
        const response = await axios.get(url, {
          headers: {
            "x-auth-token": token,
          },
        });
        const data = response.data;
        if (!Array.isArray(data) || data.length === 0) {
          // Display message if there are no favorite products
          const msg = `
              <h4>You Have No Products In Your WatchList Yet !!, </h4>
              <h4 class="text-primary">...To Add Product To Your WatchList Press On <i class="fa-regular fa-bookmark"></i> Icon On Product Card</h4>
            `;
          $("#card").append(msg);
        } else {
          const favResponse = await axios.get("http://127.0.0.1:3000/api/product/fav", {
            headers: {
              "x-auth-token": token,
            },
          });
          const cartResponse = await axios.get("http://127.0.0.1:3000/api/cart", {
            headers: {
              "x-auth-token": token,
            },
          });
          const favorites = favResponse.data;
          const cart = cartResponse.data;
          update(data, favorites, cart);
        }
      } catch (error) {
        console.error("Error fetching products:", error);
      }
    }

    updateTable();

    async function update(products, favorites, cart) {
      $("#card").empty();

      const favoriteIds = new Set(favorites.map(fav => fav.ProductId));
      const cartIds = new Set(cart.map(item => item.ProductId));

      for (const item of products) {
        const isFavorite = favoriteIds.has(item.ProductId);
        const isInCart = cartIds.has(item.ProductId);

        const heartIconClass = isFavorite ? 'ti-heart-broken' : 'ti-heart';
        const cartIconClass = isInCart ? 'ti-shopping-cart-full' : 'ti-shopping-cart';

        const favFormClass = isFavorite ? 'removefromfav' : 'addtofav';
        const cartFormClass = isInCart ? 'removefromcart' : 'addtocart';

        const product = item.Product;
        const cardHtml = `
<div class="col-md-6 col-lg-4">
  <a href="single-product.html?prod=${product.id}">
    <div class="card text-center card-product">
      <div class="card-product__img">
        <img class="card-img" width="500" src="images/${product.img_urls[0]}" style="width: 200px;height: 250px;object-fit: cover;" alt="">
        <ul class="card-product__imgOverlay">
          <li>
            <form class="${cartFormClass}" method="post">
              <input type="hidden" name="quantity" value="1">
              <input type="hidden" name="productId" value="${product.id}">
              <button type="submit"><i class="${cartIconClass}"></i></button>
            </form>
          </li>
          <li>
            <form class="removeFromWatchList" method="post">
              <input type="hidden" name="productId" value="${product.id}">
              <button type="submit"><i class="fa-solid fa-bookmark"></i></button>
            </form>
          </li>
          <li>
            <form class="${favFormClass}" method="post">
              <input type="hidden" name="productId" value="${product.id}">
              <button type="submit"><i class="${heartIconClass}"></i></button>
            </form>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <p>ID: ${product.id}</p>
        <h4 class="card-product__title">
          <a href="single-product.html?prod=${product.id}">
            Name: ${product.name}
          </a>
        </h4>
        <p>Quantity: ${product.quantity}</p>
        <p>Desc: ${product.description}</p>
      </div>
    </div>
  </a>
</div>`;

        $("#card").append(cardHtml);
      }
    }





    // Use event delegation to handle form submission
    $(document).on("submit", ".addtocart", async function (event) {
      event.preventDefault();

      const url = "http://127.0.0.1:3000/api/cart";
      const formData = $(this).serializeArray();
      const data = {};

      formData.forEach((item) => {
        data[item.name] = item.value;
      });

      // Debugging: Log the serialized data
      console.log('Serialized Data:', data);

      try {
        const response = await axios.post(url, data, {
          headers: {
            "x-auth-token": token,
            "Content-Type": "application/json",  // Ensure we send JSON data
          }
        });

        if (response.status === 200) {
          showMessage("Product added to cart successfully!", "success");
        } else {
          showMessage("Failed to add product to cart. Please try again.", "error");
        }

        updateTable(); // Ensure this function exists and updates your UI as needed
        cartIcon();
      } catch (error) {
        console.error("Error adding to cart:", error);
        showMessage("Error adding product to cart. Please try again later.", "error");
      }
    });

    //

    $(document).on("submit", ".removefromcart", async function (event) {
      event.preventDefault();

      const form = $(this);
      const productId = form.find('input[name="productId"]').val();
      const url = `http://127.0.0.1:3000/api/cart/${productId}`;

      try {
        const response = await axios.delete(url, {
          headers: {
            "x-auth-token": token,
          },
        });

        if (response.status === 200) {
          console.log("Item removed successfully");
        } else {
          console.log("Failed to remove the item");
        }
        updateTable(); // Refresh the table to show the updated cart items
        cartIcon();
      } catch (error) {
        console.error("Error removing the item:", error);
      }
    });

    // 
    $(document).on("submit", ".addtofav", async function (event) {
      event.preventDefault();

      const url = "http://127.0.0.1:3000/api/product/fav";
      const formData = $(this).serializeArray();
      const data = {};

      formData.forEach((item) => {
        data[item.name] = item.value;
      });

      // Debugging: Log the serialized data
      console.log('Serialized Data:', data);

      try {
        const response = await axios.post(url, data, {
          headers: {
            "x-auth-token": token,
            "Content-Type": "application/json",  // Ensure we send JSON data
          }
        });
        console.log(response.data);
        updateTable(); // Ensure this function exists and updates your UI as needed
        showMessage("Product added to Favourites successfully!", "success");
      } catch (error) {
        console.error("Error adding to fav:", error);
        showMessage("Error adding product to Favourites. Please try again later.", "error");


      }
    });
    //
    //
    $(document).on("submit", ".removefromfav", async function (event) {
      event.preventDefault();

      const form = $(this);
      const productId = form.find('input[name="productId"]').val();
      const url = `http://127.0.0.1:3000/api/product/fav/${productId}`;

      try {
        const response = await axios.delete(url, {
          headers: {
            "x-auth-token": token,
          },
        });

        if (response.status === 200) {
          console.log("Item removed successfully");
          updateTable(); // Refresh the table to show the updated cart items
        } else {
          console.log("Failed to remove the item");
        }
      } catch (error) {
        console.error("Error removing the item:", error);
      }
    });

    // 

    //
    $(document).on("submit", ".removeFromWatchList", async function (event) {
      event.preventDefault();

      const form = $(this);
      const productId = form.find('input[name="productId"]').val();
      const url = `http://127.0.0.1:3000/api/product/watchlist/${productId}`;

      try {
        const response = await axios.delete(url, {
          headers: {
            "x-auth-token": token,
          },
        });

        if (response.status === 200) {
          console.log("Item removed successfully");
          updateTable(); // Refresh the table to show the updated cart items
        } else {
          console.log("Failed to remove the item");
        }
      } catch (error) {
        console.error("Error removing the item:", error);
      }
    });
  </script>
</body>

</html>